USE MASTER
GO

CREATE DATABASE PW3Tienda
GO

USE PW3Tienda
GO
/****** Object:  Table [dbo].[historical]    Script Date: 1/6/2023 23:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historical](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NULL,
	[idCoproducto] [int] NULL,
	[puntaje] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 1/6/2023 23:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[imagen] [varchar](100) NULL,
	[precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product sales-history]    Script Date: 1/6/2023 23:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product sales-history](
	[id_producto] [int] NULL,
	[id_coproducto] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [nombre], [imagen], [precio]) VALUES (1, N'Teléfono móvil', N'https://images.fravega.com/f300/a867d2e098f00e8299dd3648700cf654.png.webp', CAST(499.99 AS Decimal(10, 2)))
INSERT [dbo].[product] ([id], [nombre], [imagen], [precio]) VALUES (2, N'Auriculares inalámbricos', N'https://images.fravega.com/f500/39662bfef8000d260f2d55e287b4c76a.jpg', CAST(79.99 AS Decimal(10, 2)))
INSERT [dbo].[product] ([id], [nombre], [imagen], [precio]) VALUES (3, N'Smartwatch', N'https://images.fravega.com/f300/a72015f45487019ed3a041e785a7b543.jpg.webp', CAST(199.99 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[product] OFF
GO
INSERT [dbo].[product sales-history] ([id_producto], [id_coproducto]) VALUES (1, 2)
INSERT [dbo].[product sales-history] ([id_producto], [id_coproducto]) VALUES (1, 4)
INSERT [dbo].[product sales-history] ([id_producto], [id_coproducto]) VALUES (2, 6)
GO
ALTER TABLE [dbo].[product sales-history]  WITH CHECK ADD FOREIGN KEY([id_coproducto])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product sales-history]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[product] ([id])
GO
